<div class="container">
  <h1>QRコードスキャナー</h1>

  <!-- カメラデバイスの数を表示 -->
  <p>利用可能なカメラデバイスの数: {{ cameraCount }}</p>

  <div *ngIf="scannerEnabled" class="scanner-container">
    <zxing-scanner
      [enable]="scannerEnabled"
      (scanSuccess)="onScanSuccess($event)"
      [autofocusEnabled]="true"
      class="scanner">
    </zxing-scanner>
  </div>

  <div *ngIf="qrResultString" class="result">
    <h3>スキャン結果:</h3>
    <p>{{ qrResultString }}</p>
    <button (click)="restartScanner()">再スキャン</button>
  </div>
</div>
